

<div vc-name="TestComponent">
    <div>
        <div vc-col="Title">
        </div>

        <div vc-col="Content">
        </div>

        <input vc-col="UserInput" />
        <br />

        <input type="datetime-local" vc-col="GetDateTime" />
        <br />

        <select vc-col="GetSelect">
            <option value="0">請選擇</option>
            <option vc-col="GetOption"></option>
        </select>

        <div>
            選項v-for版本
            <label vc-col="ForCol"></label>
        </div>
    </div>
</div>
