

<div vc-name="TestComponent">
    <div>
        <div vc-col="Title">
        </div>

        <div vc-col="Content">
        </div>

        <input vc-col="UserInput" />
        <br />

        <input type="datetime-local" vc-col="GetDateTime" />
        <br />

        <select vc-col="GetSelect">
            <option value="0">請選擇</option>
            <option vc-col="GetOption"></option>
        </select>

        <select vc-col="SelStatic">
            <option value="0">靜態</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
        </select>

        <div>
            選項v-for版本
            <div vc-col="ForCol">
            </div>
        </div>
    </div>
</div>

<div vc-name="TestComponent2">
    <div vc-col="TestBind">
    </div>
    <div vc-col="TestBind2">
    </div>
    <div vc-col="Test">
    </div>
    <div vc-col="Bind3">
    </div>

    <input vc-col="BindInput"/>
</div>

