
<div vc-name="TestComponent">
    <div>
        <div vc-col="Title">
        </div>

        <div vc-col="Id">
        </div>
        中文
        <input vc-col="Title2" />
        <input vc-col="Id2" />

        <h1>
            <a id="Link" href="/home/Privacy">Go</a>
        </h1>
    </div>

</div>
