@{
    ViewData["Title"] = "Home Page";
}

<div id="BindApp" class="text-center">
    <h1 class="display-4">Welcome</h1>
    @await Component.InvokeAsync(VcType.TestComponent)
    @*@await Component.InvokeAsync(VcType.TestComponent2)
    @await Component.InvokeAsync(VcType.SelectComponent)*@
    <img src="~/image/1.png" />
    <button vc-col="BtnTest">Test</button>

    <input vc-col="BBB"/>
    <input type="file" multiple vc-col="AAA" />
    <input type="file" multiple vc-col="BBB" />
    <input type="file" multiple id="ccc" />

</div>

<script src="~/js/test.js"></script>
